body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
    color: #2A3647;
    font-size: 20px;
    max-width: 1440px;
    height: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

button,
input,
textarea,
select,
.dropdown {
    border: unset;
    border-radius: 10px;
    box-sizing: border-box;
}

input,
textarea,
select,
.dropdown {
    font-family: inherit;
    font-size: 20px;
    width: 100%;
    border: 1px solid #D1D1D1;
    margin-bottom: 24px;
}

input:focus,
textarea:focus,
select:focus,
.dropdown:focus {
    border: 1px solid #29abe2;
    outline: none !important;
}

input::placeholder,
textarea::placeholder {
    color: #D1D1D1;
}

textarea {
    padding: 18px 16px;
    overflow: auto;
    resize: vertical;
    min-height: 136px;
    background-image: url(/img/addtask_icon_textarea-grabber.svg);
    background-repeat: no-repeat;
    background-position: 99% 98%;
    background-size: 18.9px 18.9px;
}

textarea::-webkit-resizer {
    display: none;
}

textarea::-webkit-scrollbar {
    width: 16px;
}

textarea::-webkit-scrollbar-corner {
    color: transparent
}

textarea::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 20px;
    border: solid 4px white;
}


input,
select,
.dropdown {
    padding: 12px 16px;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(/img/addtask_icon_datepicker.svg);
}

select,
.dropdown {
    appearance: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover,
input[type="date"]:hover,
select:hover,
.dropdown:hover,
a:hover {
    cursor: pointer;
}

#assign-arrow:hover,
#category-arrow:hover {
    border-radius: 100%;
    background-color: #eee;
}

.main-container {
    position: relative;
    left: 328px;
    top: 206px;
    width: calc(100% - 328px - 16px);
    box-sizing: border-box;
}

.add-task-headline {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 32px;
    color: #000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 50px;
}

.form-container .left {
    width: 440px
}

.form-container .right {
    width: 440px
}

.form-container hr {
    height: 424px;
    width: 0;
    border: none;
    border-right: 1px solid #D1D1D1;
    margin: 0;
}

.styled-subtaskfield {
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 8px
}

.styled-subtaskitem-edit-input {
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #29abe2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtaskitem-edit-input {
    border: none;
    padding: 4px 16px;
    width: 360px;
    height: 32px;
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    font-size: 16px;
}

.subtaskitem-edit-input:focus {
    border: none;
}


.subtaskfield-focus {
    border: 1px solid #29abe2;
}

.subtaskfield {
    border: unset;
    background: transparent;
    margin-bottom: 0;
}

.subtaskfield:focus {
    border: none;
}

.subtaskfield-button-container {
    display: flex;
    padding: 0 16px 0 0;
    gap: 4px;
    align-items: center;
    justify-content: center;
    max-height: 24px;
}

.subtaskfield-button-container hr {
    width: 0;
    max-height: 24px;
    border-right: 1px solid #D1D1D1;
}

.subtaskfield-button-general {
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtaskfield-button-general:hover {
    background-color: #eeeeee
}

.subtasklist {
    max-height: 250px;
    font-size: 16px;
    color: #000;
    margin-bottom: 64px
}

.subtasklist-item {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: 100ms ease-out;
}

.subtasklist-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.subtasklist-marker {
    margin-right: 8px;
    margin-left: 16px
}

.subtasklist-infos {
    display: flex;
}

.reset-button,
.create-button {
    padding: 12px 40px 12px 16px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    gap: 6px;
    transition: 100ms ease-in-out;
}

.reset-button {
    border: 1px solid #2A3647;
    background-color: transparent;
    background-image: url(/img/addtask_icon_cancel_dark.svg);
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 84%;
}

.create-button {
    background-color: #2A3647;
    color: #fff;
    font-weight: 700;
    background-image: url(/img/addtask_icon_check.svg);
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 92%;
}

.blue-create-button {
    background-color: #29abe2 !important;
}

.reset-button:hover,
.create-button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;

}

.create-button:hover {
    background-color: #29abe2;
}

.reset-button:hover {
    border-color: #29abe2;
    color: #29abe2;
    background-image: url(/img/addtask_icon_cancel_blue.svg);
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 84%;
}

.task-bottom-container {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
}

.task-submit-buttons {
    display: flex;
    gap: 16px;
}

.mandatory {
    color: #FF8190;
}

.task-label {
    margin-bottom: 8px;
    width: 100%;
}

.prio-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 32px;
    gap: 16px;
}

.button-prio-urgent,
.button-prio-medium,
.button-prio-low {
    padding: 10px 40px 10px 16px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #0000001A;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-prio-urgent:hover,
.button-prio-medium:hover,
.button-prio-low:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-prio-urgent {
    background-image: url(/img/addtask_prio_urgent.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
}

.button-prio-urgent:focus,
.button-prio-urgent.selected {
    background-color: #ff3d00ff;
    color: #fff;
    background-image: url(/img/addtask_prio_urgent_white.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
    transition: 100ms ease-in-out;
}

.button-prio-medium {
    background-image: url(/img/addtask_prio_medium.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
}

.button-prio-medium:focus,
.button-prio-medium.selected {
    background-color: #ffa800;
    color: #fff;
    background-image: url(/img/addtask_prio_medium_white.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
    transition: 100ms ease-in-out;
}

.button-prio-low {
    background-image: url(/img/addtask_prio_low.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
}

.button-prio-low:focus,
.button-prio-low.selected {
    background-color: #7ae229;
    color: #fff;
    background-image: url(/img/addtask_prio_low_white.svg);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 85%;
    transition: 100ms ease-in-out;
}

.button-prio-urgent.selected,
.button-prio-urgent.selected:hover,
.button-prio-medium.selected,
.button-prio-medium.selected:hover,
.button-prio-low.selected,
.button-prio-low.selected:hover {
    box-shadow: none;
}

.hide {
    visibility: hidden;
}

.popup-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.popup {
    background-color: #2A3647;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 326px;
    height: 74px;
    gap: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 20px;
    position: fixed;
    left: calc(50% - 163px);
    bottom: -74px;
    animation: popupSlideInDesktop 200ms ease-in forwards;
    animation-delay: 900ms;

}

@keyframes popupSlideInDesktop {
    0% {
        bottom: -74px;
    }

    50% {
        bottom: calc(50% - 37px);
    }

    100% {
        bottom: calc(50% - 37px);
    }
}

#popup-bg-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
}

.popup-mobile {
    background-color: #2A3647;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 326px;
    height: 74px;
    gap: 30px;
    position: absolute;
    left: calc(50% - 163px);
    bottom: -74px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 20px;
    animation: popupSlideInMobile 100ms ease-in forwards;
    animation-delay: 500ms;
}

@keyframes popupSlideInMobile {
    0% {
        bottom: -74px;
    }

    100% {
        bottom: calc(50%);
    }
}

.dropdown {
    position: relative;
    background-color: #fff;
    color: #000;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 0px 14px 3px #0000000A;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;

}

.dropdown.active .dropdown-content {
    display: block;
    cursor: default;
}

.dropdown.active {
    border: 1px solid #29abe2;
}

.checkbox-option {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    cursor: unset;
    transition: 100ms ease-out;
    padding: 8px 16px;
}

.category {
    flex-direction: row;
}

#assignee {
    height: 163px;
    margin-bottom: 30px;
}

#assignee::-webkit-scrollbar {
    width: 16px;
}


#assignee::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 20px;
    border: solid 4px white;
}

#hidden-contacts-input {
    position: absolute;
    top: 0;
    left: 0;
    width: (100% - 60px);
    border: none
}

#hidden-contacts-input.focus {
    border: none !important
}

#hidden-category-dropdown {
    position: absolute;
}

.category-dropdown-container {
    position: relative;
}

.checkbox-option:hover {
    background-color: #eee;
    border-radius: 10px;
}

.checkbox-option-selected {
    background-color: #2A3647;
    color: #fff;
    border-radius: 10px;
}

.checkbox-option-selected:hover {
    background-color: #091931;
}

.no-contacts {
    font-size: 16px;
    flex-direction: column;
    color: #A8A8A8;
}

.selected-assignees-list {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    width: calc(100% - 2*16px);
    padding: 0 16px;
}

.name-plus-circle {
    display: flex;
    align-items: center;
    gap: 6px;
}

.assignee-circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    border: 2px solid #fff;
}

.assignee-circle:hover {
    cursor: default;
}

@media screen and (max-width: 1440px) {

    .form-container .left {
        width: 100%
    }

    .form-container .right {
        width: 100%
    }

    .prio-button-container {
        gap: 10px;
    }

    .button-prio-urgent,
    .button-prio-medium,
    .button-prio-low {
        font-size: 17px;
        background-size: 16px;
        padding-right: 35px;
    }

    input,
    textarea,
    select,
    .dropdown {
        font-size: 17px;
    }

    .task-label {
        font-size: 15px;
    }

    textarea {
        background-size: 15px;
    }
}

@media screen and (max-width: 1170px) {
    .main-container {
        left: 290px;
        width: calc(100% - 290px - 16px);
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        top: 128px;
        left: 260px;
        width: calc(100% - 230px - 60px);
    }

    .prio-button-container {
        gap: 6px;
    }

    .button-prio-urgent,
    .button-prio-medium,
    .button-prio-low {
        font-size: 14px;
        background-size: 14px;
        padding-right: 32px;
    }

    input,
    textarea,
    select,
    .dropdown {
        font-size: 14px;
    }

    .task-label {
        font-size: 14px;
    }

    textarea {
        background-size: 15px;
    }

    .add-task-headline {
        font-size: 54px;
    }

    .form-container {
        gap: 24px
    }

    .create-button, .reset-button {
        font-size: 17px
    }

    .task-bottom-container p {
        font-size: 14px;
    }
}


@media screen and (max-width: 900px) {
    .form-container {
        flex-direction: column;
        gap: 0;
    }

    .form-container hr {
        display: none;
    }

    .prio-button-container {
        gap: 64px
    }

    .button-prio-urgent,
    .button-prio-medium,
    .button-prio-low {
        background-size: 18px;
        padding-right: 40px;
    }
}


@media screen and (max-width: 850px) {
    .form {
        margin-bottom: 105px
    }

    .form-container {
        flex-direction: row;
        gap: 16px;
    }

    .form-container hr {
        display: block;
        height: 380px
    }

    .main-container {
        left: 16px;
        width: calc(100% - 2 * 16px)
    }

    .prio-button-container {
        gap: 16px;
        margin-bottom: 24px
    }

    input,
    textarea,
    select,
    .dropdown {
        margin-bottom: 16px
    }

    .task-bottom-container {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 780px) {

    .prio-button-container {
        gap: 6px
    }

    .button-prio-urgent,
    .button-prio-medium,
    .button-prio-low {
        font-size: 14px;
    }

    .form-container hr {
        height: 370px
    }
}


@media screen and (max-width: 700px) {

    .form-container {
        flex-direction: column;
        gap: 0;
    }

    .form-container hr {
        display: none;
    }

    .prio-button-container {
        gap: 32px
    }

    .reset-button {
        display: none
    }

    .selected-assignees-list {
        padding: 0;
        margin: -6px 0 16px 0
    }

    input,
    textarea,
    select,
    .dropdown {
        padding: 8px 12px;
    }

    .subtasklist {
        margin-bottom: 64px
    }

    .add-task-headline {
        font-size: 47px;
    }

}

@media screen and (max-width: 470px) {
    .prio-button-container {
        gap: 10px
    }

    .button-prio-urgent,
    .button-prio-medium,
    .button-prio-low {
        background-size: 16px;
    }
}

@media screen and (max-width: 435px) {
    .task-bottom-container {
        bottom: 70px;
        font-size: 14px;
    }

    .create-button {
        font-size: 17px;
        font-weight: 500;
        background-size: 21px;
    }

}

@media screen and (max-width: 360px) {
    .prio-button-container {
        flex-direction: column;
    }

    .task-bottom-container {
        bottom: 60px;
        gap: 10px
    }

    .create-button {
        font-size: 14px;
        padding-right: 35px
    }
}