@font-face {
    font-family: 'inter700';
    src: url('/fonts/inter-v13-latin-700.woff2');
}
@font-face {
    font-family: 'interRegular';
    src: url('/fonts/inter-v13-latin-regular.woff2');
}
@media(max-width:1250px){
    
    .addTaskLinkMobile{
        display: none;
    }
    .header-container-to-add-current-task{
        margin-right: 60px;
    }
    .previewTitle{
        font-size: 16px;
    }
    .header-container-to-add-current-task {
        margin-left: 0!important;
        margin-right: 0!important;
        width: 252px;
    }
    .task{
        width: 240px!important;
    }
    
}
@media(min-width:1250px){
    
    .addTaskLinkMobile{
        display: none;
    }
    .width-240px {
        width: 222px!important;
    }
    .header-container-to-add-current-task{
        margin-bottom: 16px;
        width: 222px!important;
    }
    .categoryHeadlineBoard{
        font-size: 16px;
    }
    .previewTitle{
        font-size: 16px!important;
    }
    .previewDescription{
        font-size: 16px!important;
    }
    .header-container-to-add-current-task {
        margin-left: 0!important; 
        margin-right: 0!important;
        width: 200px;
    }
    .added-task-txt{
        font-size: 16px;
        
    }
}
@media(max-width:1160px){
    .header-container-to-add-current-task {
        width: auto;
    }
    .task {
        width: 140px;
    }
    .noTask {
        width: 140px;
    }
    .width-240px {
        width: auto;
    }
}
@media(max-width:1180px){
    .added-task-txt{
        font-size: 16px;
    }
    .technical {
        margin-right: 16px;
        width: 65%;
    }
    .user{
        margin-right: 16px;
        width: 40%;
    }
}
@media(max-width:1050px){
    .header-container-to-add-current-task {
        width: auto;
    }
    .task {
        width: 100px;
    }
    .noTask {
        width: 100px;
    }
    .width-240px {
        width: auto;
    }
    .technical {
        width: 100%;
        padding: 4px 4px 4px 4px!important;
    }
    .user{
        margin-right: 16px;
        width: 50%;
    }
    .task {
        padding: 12px;
    }
}
@media(max-width:428px){
    .boardSiteContainer {
        padding-left: 0!important; 
        padding-right: 0!important; 
    }
    .boardSubhHader{
        display: flex;
        flex-direction: column;
    }
    .addTaskLetterin{
        display: none;
    }
    .addTaskLink {
        display: none;
    }
    .addTaskLinkMobile{
        display: block;
    }
    .space-between{
        justify-content: space-between;
    }
    .boardHeadline{
        font-size: 47px;
    }
    .taskContainer{
        flex-direction: column;
    }
    .task {
        width: 252px;
    }
    .noTask {
        width: 90%!important;
        margin-right: 20px;
        margin-left: 20px;
    }
    .header-container-to-add-current-task{
        width: auto!important;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .added-task-txt{
        font-size: 27px;
    }
    .flex-grow-1 {
        min-height: auto!important;
    }
    .width-240px{
        width: 90%!important;
        margin-left: 16px;
        
    }
    .boardSiteContainer{
        padding-top: 80px!important;
        padding-bottom: 96px;
    }
    .mobileHeaderAndAddTaskBtn{
        width: 90%!important;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .inputFieldAndAddTaskBtn{
        width: 90%!important;
    }
    .inputField{
        width: 100%!important;
    }
}

.addTaskLinkMobile{

}
.addTaskBtnMobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid rgba(42, 54, 71, 1);
    padding: 8px 16px 8px 16px;
    gap: 4px;
    background: rgba(42, 54, 71, 1);
}
.display-flex{
    display: flex;
    width: 100%;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.revert{
    flex-direction: column-reverse;
}
h4{
    margin: 0;
}
h3{
    margin: 0;
}
h2{
    margin: 0;
}
h1{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #F0F0F0;
}
.hidden {
    display: none;
  }
#modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.width-height-full-prozent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.rotating {
    transition: transform 0.37s ease-in-out; /* sanfte Animation */
    transform-origin: left bottom; /* Drehpunkt auf die linke untere Ecke setzen */
    transform: rotate(8deg); /* Drehung um 35 Grad */
  }
.ProgressBar-container{
    display: flex;
    align-items: center;
    gap :10px
  }
  .ProgressBarBox{
    width: 50%;

  }
  .progressString{
    font-family: interRegular;
    font-size: 12px;
  }
  #progressbar {
    border-radius: 16px;
    height: 8px;
    padding-left: 4px;
  }
  
  #progressbar {
    background-color:#4589FF;
    height: 8px;
    border-radius: 10px;
  }
  
.overlayAndNewWindow{
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-window {   
    position: fixed;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 4vh;
    height: 80vh;
    width: 33vw;
    background-color: white;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
}
.overHeadline{
    display: flex;
    justify-content: space-between;
}
.close-png{
    color: black;
}
.color-dar-blue{
    color: #42526E;
}
.due-date{
    display: flex;
    gap: 25px;
}
.initial-and-name{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.assignees{
    display: flex;
}
.initial-container-on-board-tasks {
    display: inline-block;
    margin-right: -10px; /* Negativer Margin für Überlappung */
  }
.color-initial-on-board-tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 45px;
  }
  .icon-and-prio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.initials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 42px;
    width: 42px;
    border-radius: 45px;
}
.initials-first-and-last-on-board-tasks{
    color: white;
    font-family: interRegular;
    font-size: 12px;
    text-align: center;
    width: 21.30px;
    line-height: 14.4px;
    font-weight: 400;
}
.initials-first-and-last{
    color: white;
}
.assigne{
    color: black;
}
.assigne-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.height-100Prozent{
    height: 100%;
}
.width-240px{
    width: 240px;
}
.current-task-headline{
    font-family: inter700;
    font-size: 61px;
    line-height: 73.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.current-task-description{
    color: #A8A8A8;
    font-family: interRegular;
}
.current-subtask{
    font-family: interRegular;
    color:#2A3647;
}
.current-prio{
    display: flex;
    gap: 25px;
}
.subtask-font{
    font-family: interRegular;
}
.subtasks{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.subtask-current-box{
    display: flex;
    align-items: center;
    gap:16px;
}
.delet-edit-box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.edit-box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.delete-box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.delet-string{
    font-size: 16px;
    font-family: 'interRegular';
}
.edit-string{
    font-size: 16px;
    font-family: 'interRegular';
}
.delet-edit-container{
    display: flex;
    justify-content: space-between;
}
.boardSiteContainer{
    padding-top: 120px;
    padding-left: 264px;
    padding-right: 32px;
}
.flex-grow-1{
    flex-grow: 1;
    min-height: 70vh;
}
.addTaskLink{
    text-decoration: none;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.boardSubhHader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boardHeadline{
    font-family: "inter700";
    font-size: 61px;
}
.inputField{
    height: 32px;
    border: 1px;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: solid 1px;
    border-color:rgba(168, 168, 168, 1);
}
.inputFieldAndAddTaskBtn{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.inputFindTask{
    height: 26px;
    border: 0;
    font-family: interRegular;
    font-size: 20px;
    }
.inputFindTask::placeholder {
    color:rgba(209, 209, 209, 1);
  }
.verticalLineAndGlassImg{
    display: flex;
    align-items: center;
    gap: 10px;
}
.verticalLine{
    width: 1px;
    height: 24px;
    background-color: rgba(168, 168, 168, 1);
}
.addTaskBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid rgba(42, 54, 71, 1);
    padding: 8px 16px 8px 16px;
    gap: 4px;
    background: rgba(42, 54, 71, 1);
    
}
.addTaskLetterin{
    color: white;
    font-family: inter700;
    font-size: 21px;
    line-height: 25.2px;

}
.addImg{
    height: 18.67px;
    width: 18.67px;
    left: 118.7px;
    top: 14.67px;
}
.header-container-to-add-current-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    width: 242px;
}
.parrent-add-task-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.taskContainer{
    display: flex;
    justify-content: space-around;
}
.taskColumn{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}
.taskContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.noTask{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 231, 231, 1);
    color: rgba(168, 168, 168, 1);
    border: dashed 1px;
    border-radius: 10px;
    border-color: rgba(168, 168, 168, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: center;
}
.task{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    box-shadow: 3px 4px 4px 0px #0000001A;
    background-color: white;
    max-width: 252px;
}
.technical{
    font-family: interRegular;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    background-color: #1FD7C1;
    color: #FFFFFF;
    margin-right: 60px;
}
.user{
    font-family: interRegular;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
    margin-right: 88px;
}
.previewTitle{
    font-family: inter700;
    overflow: hidden;
    text-overflow: ellipsis;
}
.previewDescription{
    font-family: interRegular;
    overflow: hidden;
    text-overflow: ellipsis;
}