/*Colors*/
.darkorange {
    background-color: #FF7A00;
}

.orange {
    background-color: #FFA35E;
}

.lightorange {
    background-color: #FFBB2B;
}

.pink {
    background-color: #FF5EB3;
}

.lightpink {
    background-color: #FC71FF;
}

.lightpurple {
    background-color: #6E52FF;
}

.purple {
    background-color: #9327FF;
}

.blue {
    background-color: #0038FF;
}

.cyan {
    background-color: #003e3e;
}

/*Colors*/