html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
    overflow: hidden;
}

.animated {
    animation-duration: 3.5s;
    animation-fill-mode: both;
    display: none;
}

.animated_Out {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}

.logoIMG {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 334.07px;
    width: 274px;
    transition: all 0.7s ease-in-out;
}

.selected {
    top: 80px !important;
    left: 77px !important;
    height: 121.97px !important;
    width: 100.03px !important;
}

.login {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    height: 493px;
    width: 652px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}

.loginHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 315px;
    height: 89px;
    gap: 16px;
    font-size: 61px;
    font-weight: 700;
}

.line{
    width: 150px;
    border: 3px solid #29ABE2;
    border-radius: 8px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 422px;
    height: 196px;
    gap: 20px;
}

.loginForm input[type="email"], input[type="password"], input[type="text"]{
    margin-left: 10px;
    width: calc(422px - 28px - 24px);
    height: 24px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    gap: 8px;
}

.loginForm input[type="email"], input[type="password"], input[type="text"]:focus {
    outline: none;
}

.loginForm input[type="email"]::placeholder {
    color: #D1D1D1;
}

.loginForm input[type="password"]::placeholder {
    color: #D1D1D1;
}

.loginForm input[type="text"]::placeholder {
    color: #D1D1D1;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 422px;
    height: 50px;
    gap: 8px;
    background: #ffffff;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

.input img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.checkbox{
    width: 422px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 39px;
    gap: 8px;

}

.checkbox img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checkbox img:hover{
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.509));
}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}

.loginButton a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background: #ffffff;
    color: #2A3647;
    border: 1px solid #2A3647;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.loginButton a:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

.sign_up{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 67px;
    right: 120px;
    gap: 35px;
    transition: all 0.7s ease-in-out;
}

.sign_up_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;
    color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.sign_up_button:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.sign_up p{
    font-size: 20px;
}

.privacy{
    font-size: 16px;
    text-decoration: none;
    color: #29ABE2;
    transform: scale(1);
    transition: all 70ms ease-in-out;
}

.privacy:hover{
    text-decoration: underline;
    transform: scale(1.02);
}

.backTo{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 80px;
    left: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: all 100ms ease-in-out;
}

.backTo:hover{
    transform: scale(1.05);
    border-radius: 40px;
    background-color: rgba(194, 194, 194, 0.405);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;
    color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.button:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonDisabled{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;
    color: #ffffff;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: default;
    transition: all 100ms ease-in-out;
}