.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    z-index: 800;
    box-sizing: border-box;
}

.sidebar-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.navigation-link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.nav-link {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CDCDCD;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #2A3D59;
}

.nav-link-inner {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.legal-link-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.legal-link-inner {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.legal-link {
    text-decoration: none;
    color: #A8A8A8;
    padding: 8px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-link:hover {
    color: #29abe2;
    font-weight: 700;
}

.aria[aria-current="page"] {
    background-color: #091931;
    color: #fff;
}