@font-face {
    font-family: 'inter700';
    src: url('fonts/inter-v13-latin-700.woff2');
}
@font-face {
    font-family: 'interrRegular';
    src: url('fonts/inter-v13-latin-regular.woff2');
}
body{
    margin: 0;
}
.boardSiteContainer{
    display: flex;
    background-color: #F0F0F0;
    height: 100vh;
}
.content{
    position: relative;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.boardSubhHader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boardHeadline{
    font-family: "inter700";
    font-size: 61px;
}
.inputField{
    height: 48px;
    border: 1px;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border: solid 1px;
    border-color:rgba(168, 168, 168, 1);
}
.input{
    height: 26px;
    border: 0;
    font-family: interrRegular;
    font-size: 20px;
    

}
.input::placeholder {
    color:rgba(209, 209, 209, 1);
  }
.verticalLineAndGlassImg{
    display: flex;
    align-items: center;
    gap: 10px;
}
.verticalLine{
    width: 1px;
    height: 24px;
    background-color: rgba(168, 168, 168, 1);
}
.taskContainer{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.taskColumn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.taskContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.task{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF ;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
}
.technical{
    font-family: interrRegular;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    background-color: #1FD7C1;
    color: #FFFFFF;
}
.user{
    font-family: interrRegular;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    background-color: #0038FF;
    color: #FFFFFF;
}
.previewTitle{
    font-family: inter700;
}
.previewDescription{
    font-family: interrRegular;
}