<header>
    <div id="logoutScreen">
        <a class="logoutButton" href="legal_notice.html">Legal Notice</a>
        <a class="logoutButton" href="privacy_policy.html">Privacy Policy</a>
        <a class="logoutButton helpM" href="help.html">Help</a>
        <div class="logoutButton" id="logoutButton" onclick="logout('guest')">Logout</div>
    </div>
    <div class="headerText" id="subtitleHeader">Kanban Project Management Tool</div>
    <div class="headerRight" id="header_link">
        <a href="../help.html" class="help" id="helpHeader"><img class="headerHelp" src="../img/question.svg"></a>
        <div class="headerUser" onclick="notClose(event), openUser()">
            <p id="initals">G</p>
        </div>
    </div>
</header>