<div class="sidebar-container">
    <div>
        <img src="img/join_logo.svg" alt="">
    </div>
    <div class="navigation-links">
        <a href="#"><img src="img/sidebar_icon_summary.svg">Summary</a>
        <a href="#"><img src="img/sidebar_icon_addtask.svg" alt="">Add Task</a>
        <a href="#"><img src="img/sidebar_icon_board.svg" alt="">Board</a>
        <a href="#"><img src="img/sidebar_icon_contacts.svg" alt="">Contacts</a>
    </div>
    <div class="legal-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal notice</a>
    </div>
</div>